RoutePlanner_DeveloperTools/Source/ArcLogistics/Service References/CatalogService/services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:e="http://www.esri.com/schemas/ArcGIS/10.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.esri.com/schemas/ArcGIS/10.0" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="http://www.esri.com/schemas/ArcGIS/10.0" targetNamespace="http://www.esri.com/schemas/ArcGIS/10.0">
      <xs:element name="GetServiceDescriptions">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetServiceDescriptionsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ServiceDescriptions" type="e:ArrayOfServiceDescription" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetServiceDescriptionsEx">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FolderName" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetServiceDescriptionsExResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ServiceDescriptions" type="e:ArrayOfServiceDescription" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetFolders">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetFoldersResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FolderNames" type="e:ArrayOfString" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMessageVersion">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetMessageVersionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MessageVersion" type="e:esriArcGISVersion" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMessageFormats">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetMessageFormatsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MessageFormats" type="e:esriServiceCatalogMessageFormat" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTokenServiceURL">
        <xs:complexType />
      </xs:element>
      <xs:element name="GetTokenServiceURLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TokenServiceURL" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RequiresTokens">
        <xs:complexType />
      </xs:element>
      <xs:element name="RequiresTokensResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:simpleType name="esriServiceCatalogMessageFormat">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="esriServiceCatalogMessageFormatSoap" />
          <xs:enumeration value="esriServiceCatalogMessageFormatBin" />
          <xs:enumeration value="esriServiceCatalogMessageFormatSoapOrBin" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ServiceDescription">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Name" type="xs:string" />
          <xs:element name="Type" type="xs:string" />
          <xs:element name="Url" type="xs:string" />
          <xs:element name="ParentType" type="xs:string" />
          <xs:element name="Capabilities" type="xs:string" />
          <xs:element name="Description" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfServiceDescription">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceDescription" type="e:ServiceDescription" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfString">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="String" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="esriArcGISVersion">
        <xs:annotation>
          <xs:documentation />
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="esriArcGISVersion83" />
          <xs:enumeration value="esriArcGISVersion90" />
          <xs:enumeration value="esriArcGISVersion92" />
          <xs:enumeration value="esriArcGISVersion93" />
          <xs:enumeration value="esriArcGISVersion10" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="GetMessageVersionIn">
    <part name="parameters" element="e:GetMessageVersion" />
  </message>
  <message name="GetMessageVersionOut">
    <part name="parameters" element="e:GetMessageVersionResponse" />
  </message>
  <message name="GetMessageFormatsIn">
    <part name="parameters" element="e:GetMessageFormats" />
  </message>
  <message name="GetMessageFormatsOut">
    <part name="parameters" element="e:GetMessageFormatsResponse" />
  </message>
  <message name="GetTokenServiceURLIn">
    <part name="parameters" element="e:GetTokenServiceURL" />
  </message>
  <message name="GetTokenServiceURLOut">
    <part name="parameters" element="e:GetTokenServiceURLResponse" />
  </message>
  <message name="GetFoldersIn">
    <part name="parameters" element="e:GetFolders" />
  </message>
  <message name="GetFoldersOut">
    <part name="parameters" element="e:GetFoldersResponse" />
  </message>
  <message name="GetServiceDescriptionsIn">
    <part name="parameters" element="e:GetServiceDescriptions" />
  </message>
  <message name="GetServiceDescriptionsOut">
    <part name="parameters" element="e:GetServiceDescriptionsResponse" />
  </message>
  <message name="RequiresTokensIn">
    <part name="parameters" element="e:RequiresTokens" />
  </message>
  <message name="RequiresTokensOut">
    <part name="parameters" element="e:RequiresTokensResponse" />
  </message>
  <message name="GetServiceDescriptionsExIn">
    <part name="parameters" element="e:GetServiceDescriptionsEx" />
  </message>
  <message name="GetServiceDescriptionsExOut">
    <part name="parameters" element="e:GetServiceDescriptionsExResponse" />
  </message>
  <portType name="ServiceCatalogPort">
    <documentation>
    </documentation>
    <operation name="GetMessageVersion">
      <input message="e:GetMessageVersionIn" />
      <output message="e:GetMessageVersionOut" />
    </operation>
    <operation name="GetMessageFormats">
      <input message="e:GetMessageFormatsIn" />
      <output message="e:GetMessageFormatsOut" />
    </operation>
    <operation name="GetTokenServiceURL">
      <input message="e:GetTokenServiceURLIn" />
      <output message="e:GetTokenServiceURLOut" />
    </operation>
    <operation name="GetFolders">
      <input message="e:GetFoldersIn" />
      <output message="e:GetFoldersOut" />
    </operation>
    <operation name="GetServiceDescriptions">
      <input message="e:GetServiceDescriptionsIn" />
      <output message="e:GetServiceDescriptionsOut" />
    </operation>
    <operation name="RequiresTokens">
      <input message="e:RequiresTokensIn" />
      <output message="e:RequiresTokensOut" />
    </operation>
    <operation name="GetServiceDescriptionsEx">
      <input message="e:GetServiceDescriptionsExIn" />
      <output message="e:GetServiceDescriptionsExOut" />
    </operation>
  </portType>
  <binding name="ServiceCatalogBinding" type="e:ServiceCatalogPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetMessageVersion">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMessageFormats">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetTokenServiceURL">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetFolders">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServiceDescriptions">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="RequiresTokens">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetServiceDescriptionsEx">
      <soap:operation soapAction="" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Catalog">
    <port name="ServiceCatalogPort" binding="e:ServiceCatalogBinding">
      <soap:address location="http://vdemo/ArcGIS/Services" />
    </port>
  </service>
</definitions>